html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(../img/Fondo.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.fondo-form{
    background-color: #002856eb;
    padding-top: 10%;
    padding-bottom: 10%;
}
.form-control{
    width: 80%;
    border-radius: 8px;
    margin: auto;
    padding-left: 8%;
}

.content_sms{
    color: #fdda00;
    font-size: 2em;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 3%;
    width: 90%;
}
.content_sms span{
    font-size: 1.5em;
    display: block;

}
.grid-content{
    display: grid;
}
.only-responsive{
  display: none;
}
@media only screen and (max-width: 780px){
    .text-left{
      text-align: center !important;
    }
    .w-70{
      width: 100% !important;
    }
    .w-75{
      width: 100% !important;
    }
    .w-60{
      width: 80% !important;
    }
    .fondo-form{
        height: 100% !important;
        width: 100% !important;
    }
    .responsive-text{
      font-size: .7em;
    }
    .content_sms{
        font-size: 1em;
    }
    
    .responsive-full-w{
      width: 100% !important;
    }
    .responsive-margin-logo{
      margin-top: 8%;
    }
    .responsive-inputs{

      display: flex;
    }
    .responsive-inputs input{
      width: 63%;
      float: right;
      margin-right: 0;
    }
    .responsive-inputs input:first-child{
      width: 33%;
      float: left;
      margin-left: 0;
    }
    .content_data_contact{
      margin-top: 0 !important;
    }
    .responsive-margin{
      margin-top: 0 !important;
    }
    .form-control{
      padding-left: 5%;
    }
    .responsive-none{
      display: none;
    }
    .responsive-mb-3{
      margin-bottom: 5%;
    }
    .img-responsive{
      height: 34px !important;
      width: 1px !important;
    }
    .only-responsive{
      width: 90% !important;
      margin-top: 2% !important;
      display: block;
    }

    .offset-sm-1 {
      margin-left: 0;
    }
    .responsive-widht{
      width: fit-content !important;
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*Influmedia*/
  .texto-login{
    font-size: 1.8em;
    line-height: 1;
    margin-top: 1em;
  }
  .text-somos{
    line-height: 1;
    font-size: 100%;
    font-weight: 400;
    margin-top: 1em;
  }
  .w-90{
    width: 90%;
  }
  .w-80{
    width: 80%;
  }
  .w-70{
    width: 70%;
  }
  .w-60{
    width: 60%;
  }
  .h-80{
    height: 80%;
  }
  .w-10 {
    margin-left: 2%;
    margin-right: 0%;
    width: auto;
    height: 29px;
  }
.content-input{
  margin-bottom: 3%;
  border-bottom: 2px solid #474ebb;
}
input{
  border: none !important;
}
#icon_1{
  /* width: 5%; */
  margin-left: 2%;
}
.color_morado{
  color: #474ebb;
}
.color_azul{
  color: #2b64e7;
}
.title_bienvenido{
  color: #474ebb;
  text-align: left;
  font-weight: 400;
  font-size: 3em;
  margin-bottom: 0;
  line-height: 1;
}
.desck_title{
  color: #2b64e7;
  text-align: left;
  font-weight: 100;
  font-size: 1.6em;
}
.content_form{
  margin-top: 25%;
}
.submit{
  width: 100%;
  background-color: #474ebb;
  border-radius: 50px;
  color: white;
  font-size: 1.4em;
  margin-top: 10%;
}
.text{
  text-align: center;
}